body {
    margin: auto;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    position: relative;
    border: 1px solid black;
}

input {
    display: block;
    margin: auto;
    width: 1rem;
    height: 1rem;
}

.highlighted {
    background-color: #888;
}