body {
    margin: auto;
    width: 50%;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    position: relative;
    border: 1px solid black;
}

tbody > tr > th {
    text-align: left;
    font-weight: normal;
}

td {
    padding: 10px;
}

input[type="radio"], input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

td > input {
    display: block;
    margin: auto;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

.partHeader {
    text-align: center;
    border: 0;
    font-weight: bold;
}

.highlighted {
    background-color: #888;
}

#declineButton {
    position: fixed;
    top: 0;
    left: 0;
    background-color: red;
    border-width: 1px;
    color: white;
}